{% extends 'IPLdata/base.html' %}

{% block title %}Extra Runs Conceded per Team{% endblock %}

{% block content %}
    <div id="extra-runs-chart"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var chartData = {{ chart_data|safe }};

            Highcharts.chart('extra-runs-chart', {
                chart: {
                    type: 'column',
                },
                title: {
                    text: 'Extra Runs Conceded per Team',
                },
                xAxis: {
                    categories: chartData.map(function (data) {
                        return data.team;
                    }),
                    title: {
                        text: 'Team',
                    },
                },
                yAxis: {
                    title: {
                        text: 'Extra Runs Conceded',
                    },
                },
                series: [{
                    name: 'Extra Runs Conceded',
                    data: chartData.map(function (data) {
                        return data.extra_runs_conceded;
                    }),
                }],
            });
        });
    </script>
{% endblock %}
