{% extends 'IPLdata/base.html' %}

{% block title %}Matches Played per Year{% endblock %}

{% block content %}
    <div id="matches-played-chart"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var chartData = JSON.parse('{{ chart_data | escapejs }}');

            Highcharts.chart('matches-played-chart', {
                chart: {
                    type: 'column',
                },
                title: {
                    text: 'Matches Played per Year',
                },
                xAxis: {
                    categories: chartData.map(function (data) {
                        return data.year;
                    }),
                    title: {
                        text: 'Year',
                    },
                },
                yAxis: {
                    title: {
                        text: 'Matches Played',
                    },
                },
                series: [{
                    name: 'Matches Played',
                    data: chartData.map(function (data) {
                        return data.matches_played;
                    }),
                }],
            });
        });
    </script>
{% endblock %}
