{% extends 'IPLdata/base.html' %}

{% block title %}Matches Won Chart{% endblock %}

{% block content %}
  <div id="matches-won-chart"></div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var chartData = {{ chart_data|safe }};

      Highcharts.chart('matches-won-chart', {
        chart: {
          type: 'column'
        },
        title: {
          text: 'Matches Won Per Team Per Year'
        },
        xAxis: {
          categories: Object.keys(chartData)
        },
        yAxis: {
          title: {
            text: 'Matches Won'
          }
        },
        series: Object.keys(chartData).map(function (team) {
          return {
            name: team,
            data: Object.values(chartData[team])
          };
        })
      });
    });
  </script>
{% endblock %}
