{% extends 'IPLdata/base.html' %}

{% block title %}Top 10 Economical Bowlers (2015){% endblock %}

{% block content %}
    <div id="top-economical-bowlers-chart"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var chartData = {{ chart_data|safe }};

            Highcharts.chart('top-economical-bowlers-chart', {
                chart: {
                    type: 'bar',
                },
                title: {
                    text: 'Top 10 Economical Bowlers (2015)',
                },
                xAxis: {
                    categories: chartData.map(function (data) {
                        return data.bowler;
                    }),
                    title: {
                        text: 'Bowler',
                    },
                },
                yAxis: {
                    title: {
                        text: 'Economy Rate',
                    },
                },
                series: [{
                    name: 'Economy Rate',
                    data: chartData.map(function (data) {
                        return data.economy_rate;
                    }),
                }],
            });
        });
    </script>
{% endblock %}
